@charset "utf-8";
@font-face {
  font-family: "Lucida";
  src: url("LucidaHandwritingStdLight.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: "Lucida";
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0% 7% 0% 3%; */
  position: absolute;
  top: 60px;
  left: 50px;
  right: 86px;
  box-sizing: border-box;
}
header {
  position: relative;
  width: 100%;
}
.video {
  width: 100%;
}
.header_logo img {
  width: 239px;
  left: 50px;
}
.pc_nav ul {
  display: flex;
  gap: 54px;
}

.pc_nav ul li {
  font-family: "Lucida";
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.title_word {
  /* margin-top: 218px;
  margin-right: 93px; */
  position: absolute;
  top: 50%;
  right: 92px;
  writing-mode: vertical-rl;
  z-index: 1000;
  font-size: 26px;
  font-family: sans-serif;
  transform: translateY(-50%);
}
.title_word2 {
  font-family: "abril-display", serif;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 50px;
}
.title_concept h1 {
  padding-top: 190px;
  padding-left: 179px;
  font-family: "Lucida";
  font-size: 35px;
  color: #003b1a;
}
.word1 {
  margin-top: 55px;
  padding-left: 170px;
  font-size: 48px;

  letter-spacing: 0.15em;
}
.word1 > p {
  line-height: 1.37;
}
.word2 {
  margin-top: 74px;
  font-size: 17px;

  margin-bottom: 273px;
}
.word2 > p {
  line-height: 1.8;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.photo_me {
  display: flex;
  justify-content: space-between;
  width: 46%;
  overflow: hidden;
}
.about h1 {
  font-family: "Lucida";
  font-size: 35px;
  color: #003b1a;
}
.name {
  padding-top: 50px;
  font-size: 53px;
  color: #003b1a;
}
.word3 {
  padding-top: 29px;
  font-size: 18px;
  color: #000000;
  line-height: 1.75;
}
.word4 {
  padding-top: 38px;
  padding-bottom: 45px;
}
.d_c1 .d_c3 {
  font-size: 19px;
  color: #000000;
  padding-bottom: 19px;
}
.d_c2 .d_c4 {
  font-size: 23px;
  color: #000000;
  padding-bottom: 30px;
}
.d_c4 {
  margin-bottom: 66px;
}
.radius {
  width: 243px;
  height: 52px;
  border-radius: 25px;
  background-color: #003b1a;
  color: #ffffff;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 21px;
}
.about .radius {
  margin: 0;
}

.title_works h1 {
  padding-left: 179px;
  font-family: "Lucida";
  font-size: 35px;
  color: #003b1a;
}
.title_works {
  padding-top: 275px;
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-start;
}
.title_works ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.num:nth-child(1) {
  color: #000000;
  font-size: 52px;
  font-weight: lighter;
  text-align: right;
}
.num1 {
  color: #000000;
  font-size: 52px;
  font-weight: lighter;
  text-align: left;
}

.text {
  color: #000000;
  font-size: 16px;
  padding-top: 17px;
}
.port {
  padding-right: 10%;
  width: 36%;
}
.design_cafe {
  margin-right: auto;
  margin-top: -113px;
  padding-left: 10%;
  width: 36%;
}
.hamburger {
  margin-left: auto;
  margin-bottom: 50px;
  padding-right: 7%;
  width: 40%;
}
.port img {
  width: 100%;
}
.design_cafe img {
  width: 100%;
}
.hamburger img {
  width: 100%;
}
.radius {
  margin-right: auto;
  margin-left: 137px;
  margin-top: -60px;
  width: 243px;
  height: 52px;
  border-radius: 25px;
  background-color: #003b1a;
  color: #ffffff;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 21px;
}
.title_contact h1 {
  padding-top: 190px;
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #003b1a;
  margin-bottom: 45px;
}
.text2 p {
  color: #000000;
}
.text2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  padding-top: 38px;
  line-height: 1.75;
  margin-bottom: 82px;
}

.contact_form {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 45px auto;
}
.contact_form li {
  font-size: 16px;
  color: #000000;
}
.contact_radius {
  width: 609px;
  height: 51px;
  background-color: #ffffff;
  display: block;
  text-align: center;
}
.contact_radius1 {
  width: 609px;
  height: 290px;
  background-color: #ffffff;
  display: block;
  align-items: center;
}
.radius {
  margin-top: 81px;
  margin: 0% auto;
  width: 325px;
  height: 69px;
  border-radius: 34px;
  background-color: #003b1a;
  color: #ffffff;
  display: block;
  text-align: center;
  line-height: 63px;
  font-size: 22px;
}
.square {
  margin-top: 60px;
  width: 100%;
  height: 164px;
  background-color: #d68f4f;
  position: relative;
  display: flex;
  align-items: center;
}
.footer_logo {
  width: 23%;
  margin: 0% auto;
}
.sheep_logo img {
  width: 133px;
  height: 150px;
}
.sheep_logo {
  position: absolute;
  bottom: 96%;
  left: 10%;
  mix-blend-mode: multiply;
}
.top2 img {
  width: 100%;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0% 7% 0% 3%; */
  position: absolute;
  top: 60px;
  left: 50px;
  right: 86px;
  box-sizing: border-box;
}
header {
  position: relative;
  width: 100%;
}
.about2 {
  font-size: 47px;
  color: #003b1a;
  text-align: center;
  margin: 0% auto;
  margin-top: 120px;
  margin-bottom: 76px;
}
.about_me {
  display: flex;
  justify-content: space-between;
  /* align-items: center;
  max-width: 1000px; */
}
.photo_me2 img {
  width: 37%;
  margin-left: 138px;
}
.name2 {
  font-size: 39px;
  color: #000000;
}
.name3 {
  font-size: 24px;
  color: #000000;
  padding-top: 71px;
}
.word5 {
  font-size: 19px;
  color: #000000;
  padding-top: 60px;
  text-align: center;
}
.favorite h1 {
  font-size: 47px;
  color: #003b1a;
  text-align: center;
  margin: 0% auto;
  margin-top: 218px;
}
